<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="elmah">
      <section name="security" requirePermission="false" type="Elmah.SecuritySectionHandler, Elmah" />
      <section name="errorLog" requirePermission="false" type="Elmah.ErrorLogSectionHandler, Elmah" />
      <section name="errorMail" requirePermission="false" type="Elmah.ErrorMailSectionHandler, Elmah" />
      <section name="errorFilter" requirePermission="false" type="Elmah.ErrorFilterSectionHandler, Elmah" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="NorthwindContext.EF.MF.MsSql" connectionString="metadata=res://*/NorthwindMsSql.csdl|res://*/NorthwindMsSql.ssdl|res://*/NorthwindMsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindContext.EF.MF.Oracle" connectionString="metadata=res://*/NorthwindOracle.csdl|res://*/NorthwindOracle.ssdl|res://*/NorthwindOracle.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=Vagif;Password=Vagif;Server=localhost;Direct=True;Sid=orcl;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindContext.EF.MF.All.MsSql" connectionString="metadata=res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.csdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.MsSql.ssdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.MsSql.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.;Initial Catalog=Northwind;Integrated Security=True;MultipleActiveResultSets=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindContext.EF.MF.All.Oracle" connectionString="metadata=res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.csdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.Oracle.ssdl|res://*/Northwind.EntityFramework.ModelFirst.All.Northwind.Oracle.msl;provider=Devart.Data.Oracle;provider connection string=&quot;User Id=Vagif;Password=Vagif;Server=localhost;Direct=True;Sid=orcl;Persist Security Info=True&quot;"
      providerName="System.Data.EntityClient" />
    <add name="NorthwindContext.EF.CF.MsSql" connectionString="data source=.;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
    <add name="NorthwindContext.EF.CF.Oracle" connectionString="User Id=Vagif;Password=Vagif;Data Source=(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=localhost)(PORT=1521))(CONNECT_DATA=(SERVICE_NAME=orcl)));Persist Security Info=True"
      providerName="Devart.Data.Oracle" />
    <add name="NorthwindContext.NH.MsSql" connectionString="data source=.;initial catalog=Northwind;integrated security=True;multipleactiveresultsets=True;" providerName="System.Data.SqlClient"/>
    <add name="NorthwindContext.MongoDB" connectionString="mongodb://localhost/northwind?strict=true"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0" />
    <httpModules>
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </httpModules>
    <httpHandlers>
      <add verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </httpHandlers>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- To avoid disclosing metadata information, set the value below to false and remove the metadata endpoint above before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" aspNetCompatibilityEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <add name="ErrorLog" type="Elmah.ErrorLogModule, Elmah" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <handlers>
      <add name="Elmah" verb="POST,GET,HEAD" path="elmah.axd" type="Elmah.ErrorLogPageFactory, Elmah" />
    </handlers>
  </system.webServer>
</configuration>